<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superman">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Superman"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".common.OnBoarding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.MyTrials"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.MyCooks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Frame116"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Frame112"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Frame111"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.TailoredMeal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Frame110"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.UserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Frame101"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.Reconnect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cookSelection.Frame106"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cookSelection.Frame96"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.Webview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cookSelection.Frame35"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cookSelection.Frame34"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cookSelection.Frame23"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cookSelection.frame21"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserPreference.Frame19"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserPreference.Frame28"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.Frame47"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.Frame38"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authentication.Frame39"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.MainActivity"
            android:screenOrientation="portrait">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>